<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chessgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Chess Game"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChessGame">

        <!-- Màn hình lịch sử ván chơi -->
        <activity android:name=".HistoryActivity"
            android:exported="false" />

        <!-- Màn hình chơi chính (bàn cờ) -->
        <activity android:name=".ChessActivity"
            android:exported="false" />

        <!-- Màn hình menu chính -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
